nav{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    width: 100%;
}
h1{
    color: white
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-right: 30px;
    color: white;
}